CS541-framework/.vs/framework/FileContentIndex/082b918a-bfb2-4468-81ff-0c11bd34379d.vsidx
CS541-framework/.vs/framework/v17/Browse.VC.opendb
CS541-framework/.vs/framework/FileContentIndex/25a2cd4c-c71f-4a4f-a64e-a94bc0200742.vsidx
