CS541-framework/.vs/framework/FileContentIndex/082b918a-bfb2-4468-81ff-0c11bd34379d.vsidx
CS541-framework/.vs/framework/v17/Browse.VC.opendb
CS541-framework/.vs/framework/FileContentIndex/25a2cd4c-c71f-4a4f-a64e-a94bc0200742.vsidx
CS541-framework/.vs/framework/FileContentIndex/b2bb3a45-5f77-4e35-a820-1233f77692eb.vsidx
CS541-framework/.vs/framework/FileContentIndex/3fb76194-6fba-400d-89b7-0883bc845592.vsidx
CS541-framework/.vs/framework/FileContentIndex/38114294-6419-4ae2-aaca-8ab9cf413a68.vsidx
CS541-framework/.vs/framework/FileContentIndex/ca088379-b36e-46a7-9444-a74bdbdfe11b.vsidx
